@model IEnumerable<RestaurantRater.Models.Restaurant>
@{
    ViewBag.Title = "Index";
}

<h2>List of Restaurants</h2>

<p>
    @Html.ActionLink("Rate a Restaurant", "Create")
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rating)
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelitem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
            <td>
                @Html.ActionLink("Change", "Edit", new { id = item.RestaurantId}) |
                @Html.ActionLink("More Info", "Details", new { id = item.RestaurantId}) |
                @Html.ActionLink("Remove", "Delete", new { id = item.RestaurantId})
            </td>
        </tr>
    }
</table>
